<div class="container-fluid footer navbar fixed-bottom">
  <div class="col ms-auto">
    <div class="row">
      <div class="col"></div>
      <div class="col-md-auto"><h2>Mogul Mail</h2></div>
      <div class="col"></div>

    </div>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-2">

      </div>
      <div class="col-6">
          <p>This website has no affiliation with Ludwig, Mogul Moves and is independent of all parties.</p>
      </div>
    </div>
  </div>
</div>
